<component name="ArtifactManager">
  <artifact type="war" name="springboot_04_web_withservletcontainer_external:war">
    <output-path>$PROJECT_DIR$/springboot_04_web_withservletcontainer_external/target</output-path>
    <root id="archive" name="springboot_04_web_withservletcontainer_external-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot_04_web_withservletcontainer_external:war exploded" />
    </root>
  </artifact>
</component>